{% extends "base.html" %}
{% load static %}
{% load leaflet_tags %}
{% block title %}KIN 214 | Où suis-je ?{% endblock %}
{% block content %}
{% leaflet_js plugins="forms" %}
{% leaflet_css plugins="forms" %}

<div class="ui middle stackable aligned center aligned grid">
	<div class="eight wide column">
    <form class="ui large fluid form" action ="{% url "malocalisation" %}" method="POST">
		{% csrf_token %}
      	<div class="ui segment">
			<div class="ui blue header">Où suis-je ?</div>
			Place toi sur la carte !
			{% for field in form %}
	        	{% if field.errors %}
				<div class = "error field">
				{% else %}
						<div class = "field">
				{% endif %}
				{{ field }}
				{% if field.errors %}
					<div class = "ui pointing red basic label">
						{% for error in field.errors %}
							{{ error|title }}
						{% endfor %}
					</div>
				{% endif %}
        		</div>
			{% endfor %}
        	<button class = "ui fluid large blue submit button" type = "submit" value = "Submit">Soumettre</button>
      	</div>
    </form>
  	</div>
</div>

{% endblock %}