{% extends "base.html" %}
{% load static %}
{% block title %}KIN 214 | Connexion{% endblock %}
{% block menu %}{% endblock %}
{% block allcontent %}
{% include "../messages.html" %}
<div class="ui container middle aligned center aligned grid">
	<div class="six wide column">
    <form class="ui large form" method="POST">
		{% csrf_token %}
      	<div class="ui stacked segment">
        	<div class="field">
          		<div class="ui left icon input">
            		<i class="user icon"></i>
					{{ form.username }}
          		</div>
        	</div>
        	<div class="field">
          		<div class="ui left icon input">
            		<i class="lock icon"></i>
            		{{ form.password }}
          		</div>
        	</div>
			<button class = "ui fluid large blue submit button" type = "submit" value = "Submit">Connexion</button>
      	</div>
    </form>
		<div class = "ui message">
		Mot de passe oublié ? <a href="{% url "password_reset" %}">Clique ici !</a>
		</div>
		<div class="ui message">
			Nouveau parmi nous ? <a href="{% url "inscription" %}">Inscription</a>
		</div>
  	</div>
</div>
<div class="bottomsignature">Développé par L171-175 - <a href="https://github.com/lenwe171175/kin214">Source</a></div>
{% endblock %}