{% extends "base.html" %}
{% load static %}
{% block title %}KIN 214 | Mot de passe{% endblock %}
{% block menu %}{% endblock %}
{% block allcontent %}
{% include "../messages.html" %}
<style type="text/css">
		body > .grid {
		height: 100%;
	  	}
</style>

<div class="ui container stackable middle aligned center aligned grid">
	<div class="eight wide column">
    <div class = "ui message">
		<div class="ui blue header">Réinitialisation du mot de passe</div>
		Un lien de réinitialisation de mot de passe vous a été envoyé par email. Veuillez vérifier vos spams.
	</div>
	<div class = "ui message">
		Retour à l'<a href="{% url "index" %}">accueil</a>
	</div>
  	</div>
</div>
{% endblock %}