{% extends "base.html" %}
{% load static %}
{% block title %}KIN 214 | Mot de passe{% endblock %}
{% block menu %}{% endblock %}
{% block allcontent %}

<style type="text/css">
		body > .grid {
		height: 100%;
	  	}
</style>

<div class="ui container middle aligned center aligned grid">
	<div class="six wide column">
    <div class = "ui message">
		Votre mot de passe a été changé
	</div>
	<div class = "ui message">
		Retour à l'<a href="{% url "index" %}">accueil</a>
	</div>
  	</div>
</div>
{% endblock %}