{% extends "base.html" %}
{% load static %}
{% block title %}KIN 214 | Accueil{% endblock %}
{% block content %}

<div class="ui stackable center aligned middle aligned grid">
    <div class="eight wide column">
        <a href = "{% url "annuaire" %}">
        <div class="ui segment">
            <div class="ui icon header">
                
                <i class="address book blue icon"></i>
                Annuaire
            </div>
            <div class="inline">Retrouve les coordonnées de la promotion</div>
        </div>
        </a>
    </div>
    <div class="eight wide column">
        <a href = "{% url "gadzmap" %}">
        <div class="ui segment">
            <div class="ui icon header">
                <i class="map marker alternate blue icon"></i>
                GadzMap
            </div>
            <div class="inline">Visualise tes coprom's sur une carte</div>
        </div>
        </a>
    </div>
</div>
{% endblock %}