{% extends "base.html" %}
{% load static %}
{% block title %}KIN 214 | Connexion{% endblock %}
{% block navform %}{% endblock %}
{% block content %}

<div class="ui stackable middle aligned center aligned grid">
    <div class="two wide column">
        <div class="ui stacked segment">
            <div class="ui icon header">
                <i class="address book blue icon"></i>
                Annuaire
            </div>
            <div class="inline">Retrouve les coordonnées de la promotion</div>
        </div>
    </div>
    <div class="two wide column">
        <div class="ui stacked segment">
            <div class="ui icon header">
                <i class="map marker alternate blue icon"></i>
                GadzMap
            </div>
            <div class="inline">Visualise tes coprom's sur une carte</div>
        </div>
    </div>
</div>
{% endblock %}