{% extends "base.html" %}
{% load static %}
{% block title %}KIN 214 | Mon profil{% endblock %}
{% block content %}

<div class="ui middle aligned center aligned grid">
	<div class="eight wide column">
    <form class="ui large fluid form" action ="{% url "monprofil" %}" method="POST">
		{% csrf_token %}
      	<div class="ui stacked segment">
			<div class="ui blue header">Mon profil</div>
			{% for field in form %}
	        	{% if field.errors %}
				<div class = "error field">
				{% else %}
						<div class = "field">
				{% endif %}
				{{ field.label }}
				{{ field }}
				{% if field.errors %}
					<div class = "ui pointing red basic label">
						{% for error in field.errors %}
							{{ error|title }}
						{% endfor %}
					</div>
				{% endif %}
        		</div>
			{% endfor %}
        	<button class = "ui fluid large blue submit button" type = "submit" value = "Submit">Soumettre</button>
      	</div>
    </form>
	<div class = "ui message">
		Je souhaite <a href="{% url "password_change" %}">changer mon mot de passe</a>
	</div>
  	</div>
</div>

{% endblock %}